$field-size: 300px; // cell size
$field-cell-height: 30px;
$field-cell-width: 30px; // cell border
$field-border-width: 2px;
$field-cell-border-width: 1px; // cell colors
$field-border-color: #000;
$field-cell-color: #ddd;
$field-cell-ship-color: #00B180;
$field-cell-missed-color: #5FC1D8;
$field-cell-damaged-color: #EA5E51;
